<%- include('includes/header') %>

<div class="container py-md-5 container--narrow">
    <div class="text-center">
      <h2>Whoops, we cannot find that page.</h2>
      <p class="lead text-muted">You can always visit the <a href="/">homepage</a> to get a fresh start.</p>
    </div> 
  </div>
  
  <!-- footer begins -->
  <footer class="border-top text-center small text-muted py-3">
    <p class="m-0">Copyright &copy; 2019 <a href="/" class="text-muted">OurApp</a>. All rights reserved.</p>

    <%- include('includes/footer') %>